:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Telegram theme-friendly defaults */
  color-scheme: light;
  color: var(--tg-theme-text-color, #111);
  background-color: var(--tg-theme-bg-color, #fff);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#root {
  height: 100%;
}

body {
  min-width: 320px;
  background: #fff;
  overflow: hidden;
  color: var(--tg-theme-text-color, #111);
  background: var(--tg-theme-bg-color, #fff);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
